body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff8dc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo { max-width: 50%; }

@media screen and (max-width: 992px) {
  .logo { max-width: 75%; }
}

@media screen and (max-width: 600px) {
  .logo { max-width: 85%; }
}

/* https://stackoverflow.com/questions/20773665/fail-to-change-placeholder-color-with-bootstrap-3 */
.form-control::-webkit-input-placeholder { opacity: 0.3; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { opacity: 0.3; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { opacity: 0.3; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { opacity: 0.3; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { opacity: 0.3; }  /* Microsoft Edge */
